<!DOCTYPE html>
<html lang="en">
<head>
<title>GAME</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
.jumbotron{
        background-color: orange;
        color: #000
}
.jumbotron1{
    background-color: orange;
    color: #000
}

</style>
</head>
<body>
   
   <div class="jumbotron text-center">
        <h1>STICK MIND</h1><br/>
      </div>
    <div class="jumbotron1 text-center">
        <h1>
           ABOUT STICK MIND
        </h1><br/>
        <h2> It's A Two Player Game. In This Game We have 21 Sticks. Each Players can chose between 1-4
        Sticks at a Time. Player Picking up the last Stick will loss As per game rules!</h2>
        
   
    
   <div class="jumbotron">
    <div class="row">
   <div style="background-color: #f4511e" class="col-sm-12">
     
    <div class="container">
    <div class="row">
   <div style="background-color: ;" class="col-sm-12">
     <form  action="/run/" method="post" >
            <h1>Total stick:</h1><br/>
            <input readonly="readonly" name="total" type="number" value="{{t}}" class="form-control" />
   
    <h1> Message={{m}}</h1>
     
    <h1>START GAME</h1>
    <div class="form-group">
        <input type="number" name="coin" class="form-control"  placeholder="enter number 1 to 4 " ><br/>
        <h1>
            <button type="submit" {{da}} name="r" class="col-sm-6,btn btn-info container" value="bt A">PLAYER A</button>
            <br/>
            <button type="submit" {{db}} name="r" class="col-sm-6,btn btn-info container" value="bt B" >PLAYER B</button>
        </h1><br/>
    </div>
     </form>
        </div>
    </div>
   </div>
    </div>
   </div>
   </div></div>
</body>
</html>
